.userFinder{
    background-image: linear-gradient(to top, var(--corPrincipal), var(--corTerciaria));
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    margin-bottom: 8px;
}

.input{
    border: none;
    border-bottom: 1px solid var(--corSecundaria);
    padding: 4px;
}

